[submodule "backend-DevCleanUp"]
	path = backend-DevCleanUp
	url = https://github.com/Daaaiii/backend-DevCleanUp.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/Daaaiii/frontend.git
